@if(flashMessage('notification'))
<div class="container">
  <div class="row">
    <div class="col-12">
      <p class="alert alert-info">{{ flashMessage('notification') }}</p>
    </div>
  </div>
</div>
@endif