<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Adonis Project</title>

  {{ style('styles/main') }}
</head>
<body>
  <header id="app__masthead">
    @include('_includes/navbar')
  </header>

  <main id="app__body">
    @!section('content')
  </main>

  <footer id="app__footer">
    <div class="container">
      <p>Powered by pix'ie dust. Fuelled by tea. pix8 Ltd &copy; 2020.</p>
    </div>
  </footer>

  {{-- {{ script('foo.js') }} --}}
</body>
</html>
