<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Adonis Project</title>

  {{ style('styles/main') }}
</head>
<body>
  <header id="app__masthead">
    @include('_includes/navbar')
  </header>

  <main id="app__body">
    @!section('content')
  </main>

  <footer id="app__footer">
    <div class="container">
      <p>Powered by pix'ie dust. Fuelled by tea. pix8 Ltd &copy; 2020.</p>
      <p><small>&hellip;something is brewing.</small></p>
    </div>
  </footer>

  {{-- {{ script('scripts/main.js') }} --}}
</body>
</html>
