@charset "UTF-8";

@mixin font-size($value) {
    font-size: ($value / ($value * 0 + 1)) * 10 + px; // <ie9
    font-size: $value / ($value * 0 + 1) + rem;
}

//  eot         ---------       >ie5
//  woff/woff2  ---------       webkit(chrome), firefox, opera, >ie8, ios, android, blackberry, ie mobile
//  ttf/otf     ---------       webkit, firefox, opera(>15), ios, android, blackberry
//  svg         ---------       webkit(safari), opera, ios, android, blackberry

//  200         ---------       extralight/ultralight
//  300         ---------       light
//  400         ---------       regular
//  500         ---------       medium
//  600         ---------       semibold
//  700         ---------       bold
//  800         ---------       extrabold/black

/* =============================================================================
    Knowledge 2017 (Thomson Reuters)
    ========================================================================== */
@font-face{
    font-family: 'Knowledge';
    src:    url('#{$font-path}knowledge/knowledge-200-ultralight.eot');
    src:    url('#{$font-path}knowledge/knowledge-200-ultralight.eot?#iefix') format('embedded-opentype'),
            url('#{$font-path}knowledge/knowledge-200-ultralight.woff') format('woff'),
            url('#{$font-path}knowledge/knowledge-200-ultralight.ttf') format('truetype'),
            url('#{$font-path}knowledge/knowledge-200-ultralight.svg#Knowledge') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face{
    font-family: 'Knowledge';
    src:    url('#{$font-path}knowledge/knowledge-200-ultralightitalic.eot');
    src:    url('#{$font-path}knowledge/knowledge-200-ultralightitalic.eot?#iefix') format('embedded-opentype'),
            url('#{$font-path}knowledge/knowledge-200-ultralightitalic.woff') format('woff'),
            url('#{$font-path}knowledge/knowledge-200-ultralightitalic.ttf') format('truetype'),
            url('#{$font-path}knowledge/knowledge-200-ultralightitalic.svg#Knowledge') format('svg');
    font-weight: 200;
    font-style: italic;
}

@font-face{
    font-family: 'Knowledge';
    src:    url('#{$font-path}knowledge/knowledge-300-light.eot');
    src:    url('#{$font-path}knowledge/knowledge-300-light.eot?#iefix') format('embedded-opentype'),
            url('#{$font-path}knowledge/knowledge-300-light.woff') format('woff'),
            url('#{$font-path}knowledge/knowledge-300-light.ttf') format('truetype'),
            url('#{$font-path}knowledge/knowledge-300-light.svg#Knowledge') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face{
    font-family: 'Knowledge';
    src:    url('#{$font-path}knowledge/knowledge-300-lightitalic.eot');
    src:    url('#{$font-path}knowledge/knowledge-300-lightitalic.eot?#iefix') format('embedded-opentype'),
            url('#{$font-path}knowledge/knowledge-300-lightitalic.woff') format('woff'),
            url('#{$font-path}knowledge/knowledge-300-lightitalic.ttf') format('truetype'),
            url('#{$font-path}knowledge/knowledge-300-lightitalic.svg#Knowledge') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face{
    font-family: 'Knowledge';
    src:    url('#{$font-path}knowledge/knowledge-400-regular.eot');
    src:    url('#{$font-path}knowledge/knowledge-400-regular.eot?#iefix') format('embedded-opentype'),
            url('#{$font-path}knowledge/knowledge-400-regular.woff') format('woff'),
            url('#{$font-path}knowledge/knowledge-400-regular.ttf') format('truetype'),
            url('#{$font-path}knowledge/knowledge-400-regular.svg#Knowledge') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'Knowledge';
    src:    url('#{$font-path}knowledge/knowledge-400-regularitalic.eot');
    src:    url('#{$font-path}knowledge/knowledge-400-regularitalic.eot?#iefix') format('embedded-opentype'),
            url('#{$font-path}knowledge/knowledge-400-regularitalic.woff') format('woff'),
            url('#{$font-path}knowledge/knowledge-400-regularitalic.ttf') format('truetype'),
            url('#{$font-path}knowledge/knowledge-400-regularitalic.svg#Knowledge') format('svg');
    font-weight: 400;
    font-style: italic;
}

@font-face{
    font-family: 'Knowledge';
    src:    url('#{$font-path}knowledge/knowledge-500-medium.eot');
    src:    url('#{$font-path}knowledge/knowledge-500-medium.eot?#iefix') format('embedded-opentype'),
            url('#{$font-path}knowledge/knowledge-500-medium.woff') format('woff'),
            url('#{$font-path}knowledge/knowledge-500-medium.ttf') format('truetype'),
            url('#{$font-path}knowledge/knowledge-500-medium.svg#Knowledge') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face{
    font-family: 'Knowledge';
    src:    url('#{$font-path}knowledge/knowledge-500-mediumitalic.eot');
    src:    url('#{$font-path}knowledge/knowledge-500-mediumitalic.eot?#iefix') format('embedded-opentype'),
            url('#{$font-path}knowledge/knowledge-500-mediumitalic.woff') format('woff'),
            url('#{$font-path}knowledge/knowledge-500-mediumitalic.ttf') format('truetype'),
            url('#{$font-path}knowledge/knowledge-500-mediumitalic.svg#Knowledge') format('svg');
    font-weight: 500;
    font-style: italic;
}

@font-face{
    font-family: 'Knowledge';
    src:    url('#{$font-path}knowledge/knowledge-700-bold.eot');
    src:    url('#{$font-path}knowledge/knowledge-700-bold.eot?#iefix') format('embedded-opentype'),
            url('#{$font-path}knowledge/knowledge-700-bold.woff') format('woff'),
            url('#{$font-path}knowledge/knowledge-700-bold.ttf') format('truetype'),
            url('#{$font-path}knowledge/knowledge-700-bold.svg#Knowledge') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face{
    font-family: 'Knowledge';
    src:    url('#{$font-path}knowledge/knowledge-700-bolditalic.eot');
    src:    url('#{$font-path}knowledge/knowledge-700-bolditalic.eot?#iefix') format('embedded-opentype'),
            url('#{$font-path}knowledge/knowledge-700-bolditalic.woff') format('woff'),
            url('#{$font-path}knowledge/knowledge-700-bolditalic.ttf') format('truetype'),
            url('#{$font-path}knowledge/knowledge-700-bolditalic.svg#Knowledge') format('svg');
    font-weight: 700;
    font-style: italic;
}

@font-face{
    font-family: 'Knowledge';
    src:    url('#{$font-path}knowledge/knowledge-800-black.eot');
    src:    url('#{$font-path}knowledge/knowledge-800-black.eot?#iefix') format('embedded-opentype'),
            url('#{$font-path}knowledge/knowledge-800-black.woff') format('woff'),
            url('#{$font-path}knowledge/knowledge-800-black.ttf') format('truetype'),
            url('#{$font-path}knowledge/knowledge-800-black.svg#Knowledge') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face{
    font-family: 'Knowledge';
    src:    url('#{$font-path}knowledge/knowledge-800-blackitalic.eot');
    src:    url('#{$font-path}knowledge/knowledge-800-blackitalic.eot?#iefix') format('embedded-opentype'),
            url('#{$font-path}knowledge/knowledge-800-blackitalic.woff') format('woff'),
            url('#{$font-path}knowledge/knowledge-800-blackitalic.ttf') format('truetype'),
            url('#{$font-path}knowledge/knowledge-800-blackitalic.svg#Knowledge') format('svg');
    font-weight: 800;
    font-style: italic;
}

/* =============================================================================
	Metrophobic
	========================================================================== */
@font-face{
	font-family: 'Metrophobic';
	src: 	url('#{$font-path}metrophobic/metrophobic-extralight-webfont.eot');
	src: 	url('#{$font-path}metrophobic/metrophobic-extralight-webfont.eot?#iefix') format('embedded-opentype'),
			url('#{$font-path}metrophobic/metrophobic-extralight-webfont.woff') format('woff'),
			url('#{$font-path}metrophobic/metrophobic-extralight-webfont.ttf') format('truetype'),
			url('#{$font-path}metrophobic/metrophobic-extralight-webfont.svg#MetrophobicExtraLight') format('svg');
	font-weight: 200;
	font-style: normal;
}

@font-face{
	font-family: 'Metrophobic';
	src: 	url('#{$font-path}metrophobic/metrophobic-light-webfont.eot');
	src: 	url('#{$font-path}metrophobic/metrophobic-light-webfont.eot?#iefix') format('embedded-opentype'),
			url('#{$font-path}metrophobic/metrophobic-light-webfont.woff') format('woff'),
			url('#{$font-path}metrophobic/metrophobic-light-webfont.ttf') format('truetype'),
			url('#{$font-path}metrophobic/metrophobic-light-webfont.svg#MetrophobicLight') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face{
    font-family: 'Metrophobic';
    src:    url('#{$font-path}metrophobic/metrophobic-lightitalic-webfont.eot');
    src:    url('#{$font-path}metrophobic/metrophobic-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
            url('#{$font-path}metrophobic/metrophobic-lightitalic-webfont.woff') format('woff'),
            url('#{$font-path}metrophobic/metrophobic-lightitalic-webfont.ttf') format('truetype'),
            url('#{$font-path}metrophobic/metrophobic-lightitalic-webfont.svg#MetrophobicLightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face{
	font-family: 'Metrophobic';
	src: 	url('#{$font-path}metrophobic/metrophobic-regular-webfont.eot');
	src: 	url('#{$font-path}metrophobic/metrophobic-regular-webfont.eot?#iefix') format('embedded-opentype'),
			url('#{$font-path}metrophobic/metrophobic-regular-webfont.woff2') format('woff'),
			url('#{$font-path}metrophobic/metrophobic-regular-webfont.woff') format('woff'),
			url('#{$font-path}metrophobic/metrophobic-regular-webfont.ttf') format('truetype'),
			url('#{$font-path}metrophobic/metrophobic-regular-webfont.svg#MetrophobicRegular') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face{
    font-family: 'Metrophobic';
    src:    url('#{$font-path}metrophobic/metrophobic-regularitalic-webfont.eot');
    src:    url('#{$font-path}metrophobic/metrophobic-regularitalic-webfont.eot?#iefix') format('embedded-opentype'),
            url('#{$font-path}metrophobic/metrophobic-regularitalic-webfont.woff') format('woff'),
            url('#{$font-path}metrophobic/metrophobic-regularitalic-webfont.ttf') format('truetype'),
            url('#{$font-path}metrophobic/metrophobic-regularitalic-webfont.svg#MetrophobicRegularItalic') format('svg');
    font-weight: 400;
    font-style: italic;
}

@font-face{
    font-family: 'Metrophobic';
    src:    url('#{$font-path}metrophobic/metrophobic-semibolditalic-webfont.eot');
    src:    url('#{$font-path}metrophobic/metrophobic-semibolditalic-webfont.eot?#iefix') format('embedded-opentype'),
            url('#{$font-path}metrophobic/metrophobic-semibolditalic-webfont.woff') format('woff'),
            url('#{$font-path}metrophobic/metrophobic-semibolditalic-webfont.ttf') format('truetype'),
            url('#{$font-path}metrophobic/metrophobic-semibolditalic-webfont.svg#MetrophobicBoldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
}

@font-face{
	font-family: 'Metrophobic';
	src:	url('#{$font-path}metrophobic/metrophobic-bold-webfont.eot');
	src: 	url('#{$font-path}metrophobic/metrophobic-bold-webfont.eot?#iefix') format('embedded-opentype'),
			url('#{$font-path}metrophobic/metrophobic-bold-webfont.woff') format('woff'),
			url('#{$font-path}metrophobic/metrophobic-bold-webfont.ttf') format('truetype'),
			url('#{$font-path}metrophobic/metrophobic-bold-webfont.svg#MetrophobicBold') format('svg');
	font-weight: 700;
	font-style: normal;
}

/* =============================================================================
	Quicksand
	========================================================================== */
@font-face{
	font-family: 'Quicksand';
	src: 	url('#{$font-path}quicksand/quicksand-extralight-webfont.eot');
	src: 	url('#{$font-path}quicksand/quicksand-extralight-webfont.eot?#iefix') format('embedded-opentype'),
			url('#{$font-path}quicksand/quicksand-extralight-webfont.woff') format('woff'),
			url('#{$font-path}quicksand/quicksand-extralight-webfont.ttf') format('truetype'),
			url('#{$font-path}quicksand/quicksand-extralight-webfont.svg#QuicksandExtraLight') format('svg');
	font-weight: 200;
	font-style: normal;
}

@font-face{
	font-family: 'Quicksand';
	src: 	url('#{$font-path}quicksand/quicksand-light-webfont.eot');
	src: 	url('#{$font-path}quicksand/quicksand-light-webfont.eot?#iefix') format('embedded-opentype'),
			url('#{$font-path}quicksand/quicksand-light-webfont.woff2') format('woff'),
			url('#{$font-path}quicksand/quicksand-light-webfont.woff') format('woff'),
			url('#{$font-path}quicksand/quicksand-light-webfont.ttf') format('truetype'),
			url('#{$font-path}quicksand/quicksand-light-webfont.svg#QuicksandLight') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face{
    font-family: 'QuicksandLight';
    src:    url('#{$font-path}quicksand/quicksand-lightitalic-webfont.eot');
    src:    url('#{$font-path}quicksand/quicksand-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
            url('#{$font-path}quicksand/quicksand-lightitalic-webfont.woff') format('woff'),
            url('#{$font-path}quicksand/quicksand-lightitalic-webfont.ttf') format('truetype'),
            url('#{$font-path}quicksand/quicksand-lightitalic-webfont.svg#QuicksandLightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face{
	font-family: 'Quicksand';
	src: 	url('#{$font-path}quicksand/quicksand-regular-webfont.eot');
	src: 	url('#{$font-path}quicksand/quicksand-regular-webfont.eot?#iefix') format('embedded-opentype'),
			url('#{$font-path}quicksand/quicksand-regular-webfont.woff2') format('woff'),
			url('#{$font-path}quicksand/quicksand-regular-webfont.woff') format('woff'),
			url('#{$font-path}quicksand/quicksand-regular-webfont.ttf') format('truetype'),
			url('#{$font-path}quicksand/quicksand-regular-webfont.svg#QuicksandRegular') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face{
    font-family: 'Quicksand';
    src:    url('#{$font-path}quicksand/quicksand-regularitalic-webfont.eot');
    src:    url('#{$font-path}quicksand/quicksand-regularitalic-webfont.eot?#iefix') format('embedded-opentype'),
            url('#{$font-path}quicksand/quicksand-regularitalic-webfont.woff') format('woff'),
            url('#{$font-path}quicksand/quicksand-regularitalic-webfont.ttf') format('truetype'),
            url('#{$font-path}quicksand/quicksand-regularitalic-webfont.svg#QuicksandRegularItalic') format('svg');
    font-weight: 400;
    font-style: italic;
}

@font-face{
    font-family: 'Quicksand';
    src:    url('#{$font-path}quicksand/quicksand-semibolditalic-webfont.eot');
    src:    url('#{$font-path}quicksand/quicksand-semibolditalic-webfont.eot?#iefix') format('embedded-opentype'),
            url('#{$font-path}quicksand/quicksand-semibolditalic-webfont.woff') format('woff'),
            url('#{$font-path}quicksand/quicksand-semibolditalic-webfont.ttf') format('truetype'),
            url('#{$font-path}quicksand/quicksand-semibolditalic-webfont.svg#QuicksandBoldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
}

@font-face{
	font-family: 'Quicksand';
	src:	url('#{$font-path}quicksand/quicksand-bold-webfont.eot');
	src: 	url('#{$font-path}quicksand/quicksand-bold-webfont.eot?#iefix') format('embedded-opentype'),
			url('#{$font-path}quicksand/quicksand-bold-webfont.woff2') format('woff'),
			url('#{$font-path}quicksand/quicksand-bold-webfont.woff') format('woff'),
			url('#{$font-path}quicksand/quicksand-bold-webfont.ttf') format('truetype'),
			url('#{$font-path}quicksand/quicksand-bold-webfont.svg#QuicksandBold') format('svg');
	font-weight: 700;
	font-style: normal;
}

/* =============================================================================
	Ek Mukta
	========================================================================== */
@font-face{
	font-family: 'EkMukta';
	src: 	url('#{$font-path}ekmukta/ekmukta-extralight-webfont.eot');
	src: 	url('#{$font-path}ekmukta/ekmukta-extralight-webfont.eot?#iefix') format('embedded-opentype'),
			url('#{$font-path}ekmukta/ekmukta-extralight-webfont.woff') format('woff'),
			url('#{$font-path}ekmukta/ekmukta-extralight-webfont.ttf') format('truetype'),
			url('#{$font-path}ekmukta/ekmukta-extralight-webfont.svg#EkMuktaExtraLight') format('svg');
	font-weight: 200;
	font-style: normal;
}

@font-face{
	font-family: 'EkMukta';
	src: 	url('#{$font-path}ekmukta/ekmukta-light-webfont.eot');
	src: 	url('#{$font-path}ekmukta/ekmukta-light-webfont.eot?#iefix') format('embedded-opentype'),
			url('#{$font-path}ekmukta/ekmukta-light-webfont.woff') format('woff2'),
			url('#{$font-path}ekmukta/ekmukta-light-webfont.woff') format('woff'),
			url('#{$font-path}ekmukta/ekmukta-light-webfont.ttf') format('truetype'),
			url('#{$font-path}ekmukta/ekmukta-light-webfont.svg#EkMuktaLight') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face{
	font-family: 'EkMukta';
	src: 	url('#{$font-path}ekmukta/ekmukta-regular-webfont.eot');
	src: 	url('#{$font-path}ekmukta/ekmukta-regular-webfont.eot?#iefix') format('embedded-opentype'),
			url('#{$font-path}ekmukta/ekmukta-regular-webfont.woff') format('woff2'),
			url('#{$font-path}ekmukta/ekmukta-regular-webfont.woff') format('woff'),
			url('#{$font-path}ekmukta/ekmukta-regular-webfont.ttf') format('truetype'),
			url('#{$font-path}ekmukta/ekmukta-regular-webfont.svg#EkMuktaRegular') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face{
	font-family: 'EkMukta';
	src:	url('#{$font-path}ekmukta/ekmukta-bold-webfont.eot');
	src: 	url('#{$font-path}ekmukta/ekmukta-bold-webfont.eot?#iefix') format('embedded-opentype'),
			url('#{$font-path}ekmukta/ekmukta-bold-webfont.woff') format('woff2'),
			url('#{$font-path}ekmukta/ekmukta-bold-webfont.woff') format('woff'),
			url('#{$font-path}ekmukta/ekmukta-bold-webfont.ttf') format('truetype'),
			url('#{$font-path}ekmukta/ekmukta-bold-webfont.svg#EkMuktaBold') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face{
	font-family: 'EkMukta';
	src: 	url('#{$font-path}ekmukta/ekmukta-lightitalic-webfont.eot');
	src: 	url('#{$font-path}ekmukta/ekmukta-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
			url('#{$font-path}ekmukta/ekmukta-lightitalic-webfont.woff') format('woff'),
			url('#{$font-path}ekmukta/ekmukta-lightitalic-webfont.ttf') format('truetype'),
			url('#{$font-path}ekmukta/ekmukta-lightitalic-webfont.svg#EkMuktaLightItalic') format('svg');
	font-weight: 300;
	font-style: italic;
}

@font-face{
	font-family: 'EkMukta';
	src: 	url('#{$font-path}ekmukta/ekmukta-regularitalic-webfont.eot');
	src: 	url('#{$font-path}ekmukta/ekmukta-regularitalic-webfont.eot?#iefix') format('embedded-opentype'),
			url('#{$font-path}ekmukta/ekmukta-regularitalic-webfont.woff') format('woff'),
			url('#{$font-path}ekmukta/ekmukta-regularitalic-webfont.ttf') format('truetype'),
			url('#{$font-path}ekmukta/ekmukta-regularitalic-webfont.svg#EkMuktaRegularItalic') format('svg');
	font-weight: 400;
	font-style: italic;
}

@font-face{
	font-family: 'EkMukta';
	src: 	url('#{$font-path}ekmukta/ekmukta-semibolditalic-webfont.eot');
	src: 	url('#{$font-path}ekmukta/ekmukta-semibolditalic-webfont.eot?#iefix') format('embedded-opentype'),
			url('#{$font-path}ekmukta/ekmukta-semibolditalic-webfont.woff') format('woff'),
			url('#{$font-path}ekmukta/ekmukta-semibolditalic-webfont.ttf') format('truetype'),
			url('#{$font-path}ekmukta/ekmukta-semibolditalic-webfont.svg#EkMuktaBoldItalic') format('svg');
	font-weight: normal;
	font-style: normal;
}

/*  =============================================================================
    Roboto
    ============================================================================= */
@include font-face('Roboto', '#{$font-path}roboto/roboto-100-thin', 100, normal);
@include font-face('Roboto', '#{$font-path}roboto/roboto-100-thin', 100, italic);
@include font-face('Roboto', '#{$font-path}roboto/roboto-300-light', 300, normal);
@include font-face('Roboto', '#{$font-path}roboto/roboto-300-light', 300, italic);
@include font-face('Roboto', '#{$font-path}roboto/roboto-400-regular', 400, normal);
@include font-face('Roboto', '#{$font-path}roboto/roboto-400-regular', 400, italic);
@include font-face('Roboto', '#{$font-path}roboto/roboto-500-medium', 500, normal);
@include font-face('Roboto', '#{$font-path}roboto/roboto-500-medium', 500, italic);
@include font-face('Roboto', '#{$font-path}roboto/roboto-700-bold', 700, normal);
@include font-face('Roboto', '#{$font-path}roboto/roboto-700-bold', 700, italic);
@include font-face('Roboto', '#{$font-path}roboto/roboto-900-black', 900, normal);
@include font-face('Roboto', '#{$font-path}roboto/roboto-900-black', 900, italic);

/* =============================================================================
	ITC Avant Garde
	========================================================================== */
@font-face{
	font-family: 'ITCAvantGarde';
	src: 	url('#{$font-path}itc-avant-garde/itc-avant-garde-lt-extralight-webfont.eot');
	src: 	url('#{$font-path}itc-avant-garde/itc-avant-garde-lt-extralight-webfont.eot?#iefix') format('embedded-opentype'),
			url('#{$font-path}itc-avant-garde/itc-avant-garde-lt-extralight-webfont.woff') format('woff2'),
			url('#{$font-path}itc-avant-garde/itc-avant-garde-lt-extralight-webfont.woff') format('woff'),
			url('#{$font-path}itc-avant-garde/itc-avant-garde-lt-extralight-webfont.ttf') format('truetype'),
			url('#{$font-path}itc-avant-garde/itc-avant-garde-lt-extralight-webfont.svg#EkMuktaRegular') format('svg');
	font-weight: 200;
	font-style: normal;
}

@font-face{
	font-family: 'ITCAvantGarde';
	src: 	url('#{$font-path}itc-avant-garde/itc-avant-garde-lt-regular-webfont.eot');
	src: 	url('#{$font-path}itc-avant-garde/itc-avant-garde-lt-regular-webfont.eot?#iefix') format('embedded-opentype'),
			url('#{$font-path}itc-avant-garde/itc-avant-garde-lt-regular-webfont.woff2') format('woff'),
			url('#{$font-path}itc-avant-garde/itc-avant-garde-lt-regular-webfont.woff') format('woff'),
			url('#{$font-path}itc-avant-garde/itc-avant-garde-lt-regular-webfont.ttf') format('truetype'),
			url('#{$font-path}itc-avant-garde/itc-avant-garde-lt-regular-webfont.svg#EkMuktaRegular') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face{
	font-family: 'ITCAvantGarde';
	src: 	url('#{$font-path}itc-avant-garde/itc-avant-garde-lt-bold-webfont.eot');
	src: 	url('#{$font-path}itc-avant-garde/itc-avant-garde-lt-bold-webfont.eot?#iefix') format('embedded-opentype'),
			url('#{$font-path}itc-avant-garde/itc-avant-garde-lt-bold-webfont.woff') format('woff2'),
			url('#{$font-path}itc-avant-garde/itc-avant-garde-lt-bold-webfont.woff') format('woff'),
			url('#{$font-path}itc-avant-garde/itc-avant-garde-lt-bold-webfont.ttf') format('truetype'),
			url('#{$font-path}itc-avant-garde/itc-avant-garde-lt-bold-webfont.svg#EkMuktaRegular') format('svg');
	font-weight: 700;
	font-style: normal;
}

/* =============================================================================
	Font-Awesome (glyphicon)
	========================================================================== */
// @font-face{
// 	font-family: 'FontAwesome';
// 	src: 	url('#{$font-path}font-awesome/fontawesome-glyphicon.eot');
// 	src: 	url('#{$font-path}font-awesome/fontawesome-glyphicon.eot?#iefix') format('embedded-opentype'),
// 			url('#{$font-path}font-awesome/fontawesome-glyphicon.woff') format('woff2'),
// 			url('#{$font-path}font-awesome/fontawesome-glyphicon.woff') format('woff'),
// 			url('#{$font-path}font-awesome/fontawesome-glyphicon.ttf') format('truetype'),
// 			url('#{$font-path}font-awesome/fontawesome-glyphicon.svg#Paymentfont') format('svg');
// 	font-weight: 400;
// 	font-style: normal;
// }

/* =============================================================================
	Bootstrap (glyphicon)
	========================================================================== */
@font-face{
	font-family: 'Glyphicons Halflings';
	src: 	url('#{$font-path}bootstrap/glyphicons-halflings-regular.eot');
	src: 	url('#{$font-path}bootstrap/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
			url('#{$font-path}bootstrap/glyphicons-halflings-regular.woff') format('woff2'),
			url('#{$font-path}bootstrap/glyphicons-halflings-regular.woff') format('woff'),
			url('#{$font-path}bootstrap/glyphicons-halflings-regular.ttf') format('truetype'),
			url('#{$font-path}bootstrap/glyphicons-halflings-regular.svg#Paymentfont') format('svg');
	font-weight: 400;
	font-style: normal;
}
