.ui__hero {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  width: auto;
  min-height: 100%;
  overflow: hidden; //counter margin collapse
}

.hero__panel {
  color: $color__white;
}

.hero__panel form {
  background: rgba(0,0,0, 0.6);
  padding: 10px 20px;
  border-radius: 1px;
}
