html, body {
  font-family: Montserrat, Helvetica, arial, sans-serif;
  background-color: whitesmoke;
  // min-height: 100%;
}

html {
  height: 100vh;
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;

  overflow-y: auto;
}

#app__body {
  flex: 1;
}

/**/
#app__footer {
  background-color: #394149;
  color: $color__white;
  padding: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  @include font-size(1.2rem);
  display: flex;
  align-items: flex-end;

  & > .container {
    display: flex;
    justify-content: space-between;
  }

  p {
    margin: 0;
  }
}

#app__masthead {
  background-color: $swatch__primary;
  color: $color__white;
  color: #394149;

  a {
    color: inherit;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $color__white;
    }
  }

  .ui__brand {
    color: $color__white;
  }

  .ui__brand {
    color: #93FFE8;
    display: block;
    margin: 0;
    width: 160px;

    svg {
      width: 100%;
      height: auto;
    }
  }

  .ui__navigation {
    margin: -12px;
    li {
      margin: 0;
      padding: 0 12px;
      display: flex;
      align-items: center;
    }
  }

  .navbar-header {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
  }
}

#app__body {
  background-color: rgb(244,244,244);
  margin-bottom: 100px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  min-height: 100%;
}

/**/

.navbar-nav {
  margin: 0;
}

.nav-item {
  margin: 0;
}

.post__synopsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.admin__post {
  background-color: $color__white;
  display: flex;
  justify-content: space-between;
  margin: 6px 0;
  padding: 0 18px;
}

.ui__toolbar {
  display: flex;
  justify-content: flex-end;
  padding: 12px;
}

.ui__controlbar {
  display: flex;
}

.ui__field {
  margin-left: 6px;
  margin-right: 6px;
}

.form__control {
  display: block;
}

.ui__tag {
  border-radius: 3px;
  background-color: $color__black;
  color: $color__white;
  padding: 3px 6px;
  margin: 0 3px;

  &:before {
    content: "#";
  }
}
