.ui__card {
    border-radius: 2px;
    border: 1px solid #dcdcdc;
    // box-shadow: 0 2px 16px 0 rgba($color__black, 0.08);
    background-color: $color__white;
    margin: 24px 0;
    display: grid;
    grid-template-columns: 25% 1fr 60px;
    grid-template-rows: 1fr auto;
    grid-template-areas:
    "header body save"
    "header footer footer";

    p {
      margin: 0.5em 0;
    }

    p {
      @include font-size(1.4rem);
    }

    a {
      text-decoration: none;
    }
}

.card__header {
  grid-area: header;
  position: relative;
  background-color: #dcdcdc;

  picture {
    min-height: 100%;

    &, a {
      display: block;
    }
  }
}

.card__body {
  grid-area: body;
  padding: 12px 24px;
}

.card__footer {
  grid-area: footer;
  padding: 12px 24px;
  display: flex;
  justify-content: space-between;

  dl, p,
  form {
    margin: 0;
  }
}

.likes {
  position: absolute;
  bottom: 12px;
  left: 12px;
  color: $color__white;
  display: flex;
  align-items: flex-end;
  text-shadow: 2px 2px 1px rgba($color__black, 1);

  .icon {
    width: 26px;
    height: 26px;
    margin-right: 6px;

    svg {
      font-size: 2.6rem;
    }
  }
}

.save {
  grid-area: save;
  margin: 0;
  justify-self: flex-end;
  padding: 12px 12px 12px 0;

  button {
    border: 0 none;
    background: transparent none;
    padding: 0;
    width: 26px;
    height: 26px;
  }

  svg {
    font-size: 2.6rem;
  }
}

.post__title {
  @include font-size(2.2rem);
  margin: 0;
}

.post__location {
  @include font-size(1.8rem);
  margin: 0;
}

.post__synopsis {
  // text-overflow: ellipsis;
  // white-space: nowrap;
  // overflow: hidden;
}

.post__meta {
  font-size: 12px;
  margin: 0;
}

// designing this on the fly things are going to have to get messy before they get better
.ui__card2 {
  border-radius: 2px;
    border: 1px solid #dcdcdc;
    // box-shadow: 0 2px 16px 0 rgba($color__black, 0.08);
    background-color: $color__white;
    margin: 0;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
    "header"
    "body"
    "footer";
    height: 100%;

    a {
      text-decoration: none;
    }
}
