.conversation {
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
  "aside header"
  "aside body"
  "aside footer";
}

.conversation__aside {
  grid-area: aside;
  background-color: #62929E;
  color: $color__white;
  padding: 0 18px;

  h1, h2, h3 {
    text-shadow: 2px 2px 1px rgba(0,0,0, 1);
  }
}

.conversation__recipient {
  border-bottom: 1px solid $color__white;;
}

.conversation__header {
  grid-area: header;
  background-color: $color__white;
  padding: 0 18px;
}

.conversation__transcript {
  grid-area: body;
  padding: 0 18px + 12px;
  overflow-y: scroll;
}

.conversation__chat {
  // overflow: hidden; // clearfix
  padding: 0 20px;
}

.chat__message {
  border-radius: 6px;
  padding: 0 24px;
  max-width: 75%;
  clear: both;
  position: relative;
  margin: 6px 0;

  &:before {
    content: '';
    position: absolute;
    z-index: 1;
    width: 20px;
    height: 20px;
    top: 0;
  }
}

.chat__recipient {
  background-color: $color__white;
  float: left;
  border-top-left-radius: 0;

  &:before {
    right: 100%;
    border-top: 10px solid $color__white;
    border-bottom: 10px dotted transparent;
    border-left: 10px dotted transparent;
    border-right: 10px solid $color__white;
  }

  & + .chat__recipient {
    border-top-left-radius: 6px;

    &:before {
      content: none;
    }
  }

  .message__signature {
    right: 100%;
  }

  .user__avatar {
    background-color: orange;
  }
}

.chat__sender {
  background-color: #C6C5B9;
  float: right;
  border-top-right-radius: 0;

  &:before {
    left: 100%;
    border-top: 10px solid #C6C5B9;
    border-bottom: 10px dotted transparent;
    border-left: 10px solid #C6C5B9;
    border-right: 10px dotted transparent;
  }

  & + .chat__sender {
    border-top-right-radius: 6px;

    &:before {
      content: none;
    }
  }

  .message__signature {
    left: 100%;
  }

  .user__avatar {
    background-color: hotpink;
  }
}

.message__signature {
  position: absolute;
  top: 0;
  text-align: center;
  margin: 0;
  transform: translateY( -(20px + 30px)/2 );

  .user__avatar {
    width: 20px + 30px;
    height: 20px + 30px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color__white;
    font-weight: 700;
  }

  .user__name {

  }
}

.message__meta {
  text-align: right;
}

.conversation__footer {
  grid-area: footer;
  background-color: $color__white;
  padding: 0 18px;

  form {
    display: flex;
  }
}
