/*  =============================================================================
    Vendor
    ============================================================================= */
@import 'bootstrap';

// /*  =============================================================================
//     Framework
//     ============================================================================= */
@import './variables';
@import './mixins';
@import './functions';
@import './placeholders';

// /*  =============================================================================
//     Core
//     ============================================================================= */
@import 'app.typography';
@import 'app.reboot';
@import 'app.iconology';

// @import 'core.utils';
// @import 'bootstrap.grid';
// @import 'core.responsive';

// /*  =============================================================================
//     Base styles
//     ============================================================================= */
@import 'styles.main';
@import 'styles.form';

// @import 'mod.banner';
// @import 'mod.discover';

// /*  =============================================================================
//     UI components
//     ============================================================================= */
@import 'ui.btn';
@import 'ui.card';
@import 'ui.tags';
@import 'ui.pagination';

.admin__post {
  background-color: $color__white;
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
  padding: 0 10px;
}

.ui__toolbar {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.ui__controlbar {
  display: flex;
}

.ui__field {
  margin-left: 5px;
  margin-right: 5px;
}

.form__control {
  display: block;
}
