<ul class="list-unstyled">
  <li>
    <a href="?page={{ (pagination.page - 1) }}">Previous</a>
    @each(page in range(1, pagination.lastPage))
    <li><a href="?page={{page }}">{{ page }}</a></li>
    @endeach
    <a href="?page={{ (pagination.page + 1) }}">Next</a>
  </li>
</ul>
